* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrincipal: #48f;
    --colorPrincipal2:#88aaff;
    --colorSecundario: #ffffff;
    --colorTerciera: #000000;
    --colorCuartario: #090e90;
    --colorQuintario: #f9f9f6;
}

body{
    background-color: var(--colorPrincipal2);
}

/* Section aboutMe */
.main__aboutMe {
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe__perfil {
    background-color: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 20px;
    margin: -100px 0 0 0;
}

.perfil__information {
    display: flex;
    gap: 5rem;
    background-color: var(--colorQuintario);
    border-radius: 20px;
    padding: 30px;
    height: 520px;
}

.perfil__information .information__img img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 50px;

}

.information__description {
    width: 100%;
    max-width: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.information__description .description__title {
    font: 700 75px "Poppins";
    text-transform: capitalize;
    margin: -20px 0 20px 0;
}

.information__description .description__soy {
    display: inline-block;
    font: 700 70px "Poppins";

}

.information__description .description__soy span {
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 10px 15px;
    border-radius: 75px;
    font-size: 35px;
    margin: 0 0 0 40px;
    position: absolute;
    top: 2.5rem;

}


.information__description .description__text {
    font: 600 20px/1.5 "Montserrat";
}

/* Section main__information */
.main__information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -100px 0 0 0;
}

.information__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    padding: 0 40px;
}

.content__item{
    background-color:var(--colorSecundario) ;
    border-radius: 20px;
    padding:20px 0 0 0;
    cursor: pointer;
    transform: translateY(0px);
    transition: transform .7s ease;
}

.content__item:hover{
    transform: translateY(-10px);
}

.item--experiencia {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
}

.item__experencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.experencia__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.experencia__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
    
}


.experiencia__description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description__item .item__fecha{
    color: var(--colorCuartario);
    font: 800 16px "Noto Sans";
}

.description__item .item__title {
    font: 700 25px "Poppins";
    color: var(--colorPrincipal);
    margin: 2px 0 2px 0;

}

.description__item .item__lugar{
    font: 600 18px "Poppins";
}

.description__item .item__lugar i{
    font-size: 25px;
    color: var(--colorCuartario);
}

.description__item .item__subtitulo{
    margin: 10px 0 10px 0;
    color: var(--colorPrincipal);
    font: 600 20px "Poppins";
}


.description__item .item__text{
    font: 500 17px/1.4 "Montserrat";
    margin: 2px 0 0 0;
    width: 450px;
}

.description__item .item__text i {
    color: var(--colorCuartario);
}
.item--education {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
}

.item__etapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.etapas__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;

}

.etapas__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}


.education__description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.item--contacto {
    grid-row: span 1 / span 2;
    grid-column-start: 5;
}

.item__icon{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icon__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.icon__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}


.icon__opcion {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 0 0 20px;
}

.icon__cuadro {
    color: var(--colorPrincipal);
    border-radius: 8px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcion__title {
    margin: 0;
    font: 600 17px "Poppins";
    color: var(--colorCuartario);
}

.opcion__number {
    margin: 0;
    font: 600 17px "Montserrat";
}

.item--hobbies {
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-row-start: 2;
    padding: 20px 20px 0 20px;
}

.item__hoobies{
    display: flex;
    flex-direction: column;
    
}

.hoobies__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hoobies__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}

.hoobies__presentacion .presentacion__number{
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}

.hobbies__grid{
    margin: 20px 0 0 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}

.hobbies__grid .hobbies__button{
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    border-radius: 15px;
}

.hobbies__grid .hobbies__button i{
    font-size: 40px;
}


.item--habilidades {
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-row-start: 3;
}

.item__skill{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 0 20px 0;
}

.skill__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}

.item__skill .skill__description{
    padding: 0 0 0 40px;
}


.skill__description i{
    color: var(--colorCuartario);
}

.skill__description .description__text{
    margin-left: 10px;
    font: 600 20px "Noto Sans";
}

.item--tecnologias {
    grid-row: span 1 / span 1;
    grid-column: span 3 / span 3;
    grid-column-start: 3; /* 4 */
    grid-row-start: 4; /* 5 */
    padding: 20px 30px 20px 30px;
}

.item__tecnologias{
    display: flex;
    flex-direction: column;
}

.tecnologias__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.tecnologias__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}


.tecnologias__grid{
    margin: 20px 0 0 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
}

.tecnologias__grid .tecnologias__icon{
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.tecnologias__grid .tecnologias__icon i{
    font-size: 80px;
}
