* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrincipal: #48f;
    --colorPrincipal2:#88aaff;
    --colorSecundario: #ffffff;
    --colorTerciera: #000000;
    --colorCuartario: #090e90;
    --colorQuintario: #f9f9f6;
}

/* Section aboutMe */
.main__aboutMe {
    background-color: var(--colorPrincipal2);
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe__perfil {
    background-color: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 15px;
    margin: -100px 0 0 0;
}

.perfil__information {
    display: flex;
    gap: 5rem;
    background-color: var(--colorQuintario);
    border-radius: 15px;
    padding: 30px;
    height: 520px;
}

.perfil__information .information__img img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 50px;

}

.information__description {
    width: 100%;
    max-width: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.information__description .description__title {
    font: 700 75px "Poppins";
    text-transform: capitalize;
    margin: -20px 0 20px 0;
}

.information__description .description__soy {
    display: inline-block;
    font: 700 70px "Poppins";

}

.information__description .description__soy span {
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 10px 15px;
    border-radius: 75px;
    font-size: 35px;
    margin: 0 0 0 40px;
    position: absolute;
    top: 2.5rem;

}


.information__description .description__text {
    font: 600 20px/1.5 "Montserrat";
}

/* Section main__information */
.main__information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

.information__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
    
}


.item--experiencia {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
}

.item__experencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.experencia__presentacion{
    display: flex;
    gap: 5rem;
    margin: 0 0px 0 0;
}

.experencia__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
    
}

.experencia__presentacion .presentacion__number{
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}





.item--education {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
}

.item__etapas{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.etapas__presentacion{
    display: flex;
    gap: 5rem;
}

.etapas__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}

.etapas__presentacion .presentacion__number{
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}



.item--contacto {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
}

.item__icon{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icon__presentacion{
    display: flex;
    gap: 5rem;
}

.icon__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}

.icon__presentacion .presentacion__number{
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}

.icon__opcion {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.icon__cuadro {
    background-color: var(--colorPrincipal);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcion__title {
    margin: 0;
    font: 600 17px "Poppins";
    color: var(--colorCuartario);
}

.opcion__number {
    margin: 0;
    font: 600 17px "Montserrat";
}

.item--idioma {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}

.item__speak{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.speak__presentacion{
    display: flex;
    gap: 5rem;
}


.speak__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}


.speak__presentacion .presentacion__number{
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}


.speak__item .item__bandera{
    display: flex;
    gap: 20px;
}

.speak__item .item__bandera img{
    width: 100%;
    max-width: 50px;
}

.speak__item .item__bandera  .bandera__description{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 20px "Noto Sans";
}

.item--habilidades {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 6;
}

.item__skill{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill__presentacion{
    display: flex;
    gap: 5rem;
    margin: 0 0 20px 0;
}

.skill__presentacion .presentacion__title{
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 0px 25px;
}

.skill__presentacion .presentacion__number{
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}

.skill__description i{
    color: var(--colorCuartario);
}

.skill__description .description__text{
    margin-left: 10px;
    font: 600 20px "Noto Sans";
}

.item--hobbies {
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 5;
}


.item--tecnologias {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 5;
}


