* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrincipal: #7cf03d;
    --colorPrincipal2: #88aaff;
    --colorSecundario: #ffffff;
    --colorTerciera: #000000;
    --colorCuartario: #090e90;
    --colorQuintario: #f9f9f6;
    --colorSextario:#1f242d;
}

body {
    background-color: var(--colorSextario);
}



/* Section aboutMe */
.main__aboutMe {
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe__perfil {
    background-color: #323946;
    padding: 30px;
    border-radius: 20px;
    margin: -100px 0 0 0;
}

.perfil__information {
    display: flex;
    gap: 5rem;
    border-radius: 20px;
    padding: 65px;
    height: 530px;
}

.perfil__information .information__img img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 50px;

}

.information__description {
    width: 100%;
    max-width: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.information__description .description__title {
    font: 700 75px "Poppins";
    text-transform: capitalize;
    margin: -20px 0 20px 0;
    color: var(--colorSecundario);
}

.information__description .description__soy {
    display: inline-block;
    font: 700 70px "Poppins";
    color: var(--colorSecundario);

}

.information__description .description__soy span {
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    padding: 10px 15px;
    border-radius: 75px;
    font-size: 35px;
    margin: 0 0 0 40px;
    position: absolute;
    top: 0.5rem;

}


.information__description .description__text {
    font: 600 20px/1.5 "Montserrat";
    color: var(--colorQuintario);
}

/* Section main__information */
.main__information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -100px 0 0 0;
}

.information__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 0 40px 50px 40px;
}

.content__item {
    background: #323946;
    border-radius: 20px;
    padding: 20px 0 0 0;
    cursor: pointer;
    transform: translateY(0px);
    transition: transform .7s ease;
}

.content__item:hover {
    transform: translateY(-10px);
}

.item--experiencia {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
}

.item__experencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.experencia__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.experencia__presentacion .presentacion__title {
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    padding: 0px 25px;

}


.experiencia__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description__item .item__fecha {
    color: var(--colorPrincipal);
    font: 800 16px "Noto Sans";
}

.description__item .item__title {
    font: 700 25px "Poppins";
    color: var(--colorSecundario);
    margin: 2px 0 2px 0;

}

.description__item .item__lugar {
    font: 400 18px "Poppins";
    color: var(--colorQuintario);
}

.description__item .item__lugar i {
    font-size: 25px;
    color: var(--colorPrincipal);
    margin: 0 10px 0 0;
}

.description__item .item__subtitulo {
    margin: 10px 0 10px 0;
    color: var(--colorPrincipal);
    font: 600 20px "Poppins";
}


.description__item .item__text {
    font: 500 17px/1.4 "Montserrat";
    margin: 2px 0 0 0;
    width: 450px;
    color: var(--colorQuintario);
}

.description__item .item__text i {
    color: var(--colorPrincipal);
}

.item--education {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
}

.item__etapas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.etapas__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;

}

.etapas__presentacion .presentacion__title {
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    padding: 0px 25px;
}


.education__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.item--contacto {
    grid-row: span 1 / span 2;
    grid-column-start: 5;
}

.item__icon {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icon__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.icon__presentacion .presentacion__title {
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    padding: 0px 25px;
}


.icon__opcion {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 0 0 20px;
}

.icon__cuadro {
    color: var(--colorPrincipal);
    border-radius: 8px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcion__title {
    margin: 0;
    font: 600 17px "Poppins";
    color: var(--colorPrincipal);
}

.opcion__number {
    margin: 0;
    font: 600 17px "Montserrat";
    color: var(--colorQuintario);
}

.item--hobbies {
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-row-start: 2;
    padding: 20px 20px 0 20px;
}

.item__hoobies {
    display: flex;
    flex-direction: column;

}

.hoobies__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hoobies__presentacion .presentacion__title {
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    padding: 0px 25px;
}

.hoobies__presentacion .presentacion__number {
    font: 600 40px "Noto Sans";
    color: var(--colorPrincipal);
}

.hobbies__grid {
    margin: 20px 0 0 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.hobbies__grid .hobbies__button {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    border-radius: 15px;
    background-color: #3c4455;
    color: var(--colorSecundario);
}

.hobbies__grid .hobbies__button i {
    font-size: 50px;
}



.item--habilidades {
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-row-start: 3;
}

.item__skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 0 20px 0;
}

.skill__presentacion .presentacion__title {
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    padding: 0px 25px;
}

.item__skill .skill__description {
    padding: 0 0 0 40px;
}


.skill__description i {
    color: var(--colorPrincipal);
}

.skill__description .description__text {
    margin-left: 10px;
    font: 600 20px "Noto Sans";
    color: var(--colorQuintario);
}

.item--tecnologias {
    grid-row: span 1 / span 1;
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    /* 4 */
    grid-row-start: 4;
    /* 5 */
    padding: 20px 30px 20px 30px;
}

.item__tecnologias {
    display: flex;
    flex-direction: column;
}

.tecnologias__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.tecnologias__presentacion .presentacion__title {
    font: 600 40px "Poppins";
    color: var(--colorSecundario);
    padding: 0px 25px;
}


.tecnologias__grid {
    margin: 20px 0 0 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.tecnologias__grid .tecnologias__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #3c4455;
    color: var(--colorSecundario);
}

.tecnologias__grid .tecnologias__icon i {
    font-size: 80px;
}

